/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Backstage-Tabs {
  display: inline-flex;
  align-self: start;
  border: 2px solid var(--color-dark);
}

.Backstage-Tabs > * {
  padding: var(--spacing-1) var(--spacing-2);
}

.Backstage-Tabs > .active {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-weight: bold;
}
