/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.BackstageList {
  width: 100%;
}

.BackstageListTop > * {
  margin-right: 8px;
  margin-bottom: 8px;
}

.BackstageListSelect {
  display: inline-block;
  height: 30px;
  padding: 4px;
  border: 2px solid var(--color-grey-light);
  border-radius: 2px;
  pointer-events: visible;
  font-size: 14px;
}

.BackstageList table {
  width: 100%;
  border-collapse: collapse;
}

.BackstageList th:first-child,
.BackstageList td:first-child {
  width: 20px;
}

.BackstageList th {
  text-align: left;
}

.BackstageList th span {
  cursor: pointer;
}

.BackstageList tr {
  border: solid;
  border-width: 1px 0;
  border-color: lightgrey;
}
.BackstageList tr:first-child {
  border-top: none;
}

.BackstageList td,
.BackstageList th {
  max-width: 240px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.BackstageList td.action,
.BackstageList th:empty {
  width: 36px;
}

.BackstageList td.action > * {
  margin-right: 4px;
  margin-left: 4px;
}

.BackstageListPagination {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.BackstageListPagination button {
  margin: 4px;
  padding-right: 2px;
  background: none;
  border: none;
  letter-spacing: -4px;
  cursor: pointer;
}

.BackstageListPagination button {
  margin: 4px;
}

.BackstageListNoItems {
  margin-top: 12px;
  width: 100%;
  text-align: center;
}

.Field-Boolean-true {
  font-weight: 700;
  color: green;
}

.Field-Boolean-false {
  font-weight: 700;
  color: red;
}

@media (max-width: 1300px) {
  .BackstageList {
    width: 100%;
    overflow-x: scroll;
  }
}
