/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.ThemeSwitcherList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.ThemCardButtonContainer {
  display: flex;
  gap: var(--spacing-1);
}

.Theme-Meta-Option {
  display: flex;
  flex-direction: column;
}

.Theme-Meta-Option .Backstage-File-Upload {
  padding: 0;
  align-self: start;
}
