/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.BackstageForm-InfoRequiredFields {
  margin-bottom: 4px;
  font-size: 12px;
}

.BackstageForm-LargeLabels .BackstageInput-Label {
  min-width: 170px;
}

.BackstageForm-LargeLabels .BackstageFormButtonSubmit {
  margin-left: 186px;
}
