/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.InputTextLong textarea {
  width: 100%;
  height: 300px;
  border: 2px solid var(--color-grey-normal);
  border-radius: 2px;
}
