/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.InputDateTime input {
  width: 130px;
}

.InputDateTimeInputWrapper {
  width: 280px;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 16px;
}
