/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Header .Backstage-Navigation {
  display: none;
}

.Backstage-Navigation,
.Backstage-Navigation ul {
  list-style: none;
  text-transform: uppercase;
}

.Backstage-Navigation > li {
  margin-bottom: 6px;
  font-weight: 700;
}

.Backstage-Navigation > li::before {
  margin-bottom: 2px;
  content: '- ';
}

.Backstage-Navigation > li > ul {
  margin-left: 10px;
  font-weight: 400;
}

.Backstage-Navigation a.active {
  text-decoration: underline;
  font-weight: inherit;
}
