/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Back-Link {
  display: flex;
  align-items: center;
  align-self: flex-start;
  line-height: 1;
  font-weight: bold;
}

.Back-Link:hover {
  text-decoration: underline;
}

.Back-Link img {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  transform: rotate(180deg);
}
