/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Completions {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.CompletionItem {
  padding: 4px;
  display: block;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.CompletionValue {
  font-weight: 700;
}
