/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.BackstageList th:first-child,
.BackstageList td:first-child {
  width: 140px;
}
.notification {
  cursor: pointer;
}
.notification.unread {
  font-weight: bold;
}
