/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Theme-Code-Option {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.Browser {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-dark);
}

.Browser-Files {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.Browser-Files.upload {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media (max-width: 1300px) {
  .Browser-Files.upload {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 799px) {
  .Browser-Files.upload {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .Browser-Files.upload {
    grid-template-columns: repeat(2, 1fr);
  }
}

.File {
  padding: var(--spacing-1) var(--spacing-2);
}

.File:nth-child(even) {
  background-color: var(--color-grey-light);
}

.File.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}
