/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.BackstageFormButtonSubmit {
  margin-top: 24px;
}
.BackstageFormButtonSubmit .Button {
  padding-left: 16px;
  padding-right: 16px;
}
