/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Backstage-File-Upload,
.File-Upload-Text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}

.Backstage-File-Upload h3 {
  text-align: center;
  word-break: break-word;
}

.Backstage-File-Upload form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.File-Upload-Text.active {
  background-color: var(--color-grey-light);
}

.File-Upload-Button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2);
  border: 2px solid var(--color-dark);
}

.File-Upload-Button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.File-Upload-Button:hover .Image-Upload-Current {
  filter: blur(1px);
}

.File-Upload-Button:hover .Image-Upload-Edit {
  display: block;
}

.File-Upload-Edit {
  position: absolute;
  display: none;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0) invert(1);
}

.File-Upload-Current {
  display: block;
  object-fit: contain;
  width: 5rem;
  height: 5rem;
}

.Button.Save-Upload {
  height: 30px;
}

@media (max-width: 799px) {
  .File-Upload-Current {
    width: 3rem;
    height: 3rem;
  }
}
