/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.BackstageInput {
  margin-bottom: 12px;
}

.BackstageInput-Label {
  vertical-align: top;
  min-width: 120px;
  margin-bottom: 4px;
  font-weight: 700;
}

.BackstageInput-Info {
  margin-bottom: 8px;
  font-size: 15px;
}

.BackstageInput input {
  box-sizing: border-box;
  height: 34px;
  width: 100%;
  border: 2px solid var(--color-grey-normal);
  border-radius: 2px;
  padding-left: 4px;
}

.BackstageInput-Error input,
select {
  border: 2px solid red;
}

.BackstageInput textarea {
  width: 100%;
  height: 300px;
  border: 2px solid var(--color-grey-normal);
  border-radius: 2px;
}

.BackstageInput select {
  background-color: var(--color-light);
}
