/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.InputImage input {
  border: none;
}

.InputImage-Preview-Name {
  font-size: 14px;
}

.InputImage-Preview-Image-Container {
  border: 1px solid grey;
}

.InputImage-Preview-Image-Container-Listview {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  align-items: center;
}

.InputImage-Preview-Image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
