/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.ArrayItems {
  display: inline-block;
}

.ArrayItems-FullWidth {
  width: 100%;
}

.ArrayItems-FullWidth .ArrayItem > div {
  width: calc(100% - 90px);
}
.ArrayItems-FullWidth.ArrayItems-Multiline .ArrayItem > div {
  width: calc(100%);
}
.ArrayItems-Multiline .ArrayItem {
  display: block;
}
.ArrayItems-Multiline .ButtonRemoveItem {
  margin-left: 0px;
}

.ArrayItem {
  margin-bottom: 8px;
  display: flex;
}

.ButtonAddItem {
  display: block;
}

.ButtonRemoveItem {
  box-sizing: border-box;
  height: 34px;
  margin-left: 8px;
  vertical-align: top;
}
