/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.InputInterval {
  display: flex;
}

.InputInterval-Type select {
  width: 120px;
  margin-right: 15px;
}

.InputInterval input[type='date'] {
  width: auto;
}
