/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.ThemeCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-dark);
  width: 100%;
  box-sizing: border-box;
}

.Add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  border-width: 4px;
}

.ThemeCard.Disabled {
  border-color: var(--color-grey-normal);
}

.Disabled > .Container-Title {
  background-color: var(--color-grey-normal);
}

.ThemeCard .Container-Title {
  display: flex;
  align-items: center;
  padding: var(--spacing-2);
}

.ThemeCardDialogContent {
  padding: var(--spacing-2);
}

.ThemeCardDialogInteraction {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  margin-top: var(--spacing-1);
}

.ThemeCardDialogInteraction button:hover {
  opacity: 0.75;
}

.ThemeCardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 2px solid var(--color-dark);
  border: none;
}

.ThemeCardButton.Activate {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.ThemeCardButton:hover {
  opacity: 0.75;
}

.ThemeCardButton img {
  display: block;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.ThemeCardPreview {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.ThemeCardDialog {
  margin: auto;
}

.ThemeCardDialogContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.ThemeCardDialog::backdrop {
  background-color: var(--color-dark);
  opacity: 0.75;
}

