/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Code-Editor {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.Code {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-dark);
}

.Code-Save {
  align-self: flex-start;
}
