/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.App .Notification {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  align-items: center;
  line-height: 1;
  border: 2px solid var(--color-light);
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  height: auto;
  color: var(--color-light);
  font-weight: bold;
  transition: all 1s ease;
}

.Notification.none {
  top: -100px;
}

.Notification.error {
  background-color: var(--color-red);
}

.Notification.warning {
  background-color: var(--color-yellow);
}

.Notification.success {
  background-color: var(--color-green);
}

.Notification-Close {
  background-color: transparent;
  color: var(--color-light);
  font-size: 1.25rem;
  font-weight: bold;
}

.Notification-Close:hover {
  opacity: 0.75;
}

.Notification-Icon {
  display: block;
  font-size: 1.75rem;
  transform: rotate(45deg);
}
