/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Button {
  padding: 4px 8px;
  border: 2px solid var(--color-dark);
  border-radius: 2px;
  background: var(--color-dark);
  color: var(--color-light);
  font-size: 14px;
  cursor: pointer;
}

.Button.secondary {
  background: var(--color-grey-light);
  border: 2px solid var(--color-grey-light);
  color: var(--color-dark);
}

.Button.danger {
  background: var(--color-red);
  border: 2px solid var(--color-red);
  color: var(--color-dark);
}

.Button.icon {
  width: 28px;
  height: 28px;
  padding: 0px;
  display: flex;
  object-fit: contain;
  margin: 4px;
  justify-content: center;
  align-items: center;
  background: var(--color-light);
  border: none;
}

.Button:hover.icon img {
  opacity: 0.7;
}

.Button:disabled {
  background: var(--color-grey-normal);
  border: 2px solid var(--color-grey-normal);
}

.Button.loading {
  border: var(--color-dark);
  background-color: var(--color-dark);
}

/* Loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid var(--color-light);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-light) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
