/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Checkbox {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background: var(--color-grey-light);
  border: 2px solid var(--color-grey-light);
  color: black;
  vertical-align: bottom;
  cursor: pointer;
}

.Checkbox * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.Checkbox label {
  margin-left: 4px;
}
