/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Confirm-Dialog {
  position: fixed;
  width: 320px;
  top: calc(50% - 100px);
  left: calc(50% - 160px);
  border: 4px solid red !important;
  background: white !important;
  padding: 16px;
}

.Confirm-Dialog div {
  background: white;
  border: none;
}

.Confirm-Dialog-Actions {
  display: flex;
  margin-top: 16px;
  justify-content: right;
}

.Confirm-Dialog-Actions button {
  display: inline-block;
  margin-left: 16px;

  border: 2px solid #000;
  border-radius: 2px;
  background: #000;
  color: white;
}
