/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Container {
  display: block;
}

.Container-Title {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 8px var(--spacing-4);

  align-items: center;
  background: black;
  color: white;
  font-weight: 700;
}

.Container-Title-Align-left {
  justify-content: left;
}
.Container-Title-Align-center {
  justify-content: center;
}
.Container-Title-Align-right {
  justify-content: right;
}

.Container-Title-Caps {
  text-transform: uppercase;
}

.Container-Content {
  box-sizing: border-box;
  width: 100%;
  padding: var(--spacing-4);

  background: white;
}

@media (max-width: 500px) {
  .Container {
    margin-bottom: 0 !important;
  }

  .Container-Title-Hide-Mobile {
    display: none;
  }
}
