/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.LoginForm {
  width: 100%;
  display: block;
  margin: auto;
}

.LoginForm .BackstageInput {
  margin-bottom: 4px;
}

.LoginForm input {
  width: 100%;
  margin-bottom: 15px;
  height: var(--spacing-8);
}

.LoginForm button {
  box-sizing: border-box;
  width: 50%;
  display: block;
  margin: auto;
  height: var(--spacing-8);
}

.BackstageInput-Container {
  width: 100%;
}

.PassRec {
  font-size: 14px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
