/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Grid {
  max-width: var(--width-content);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

.Grid-Fixed {
  position: fixed;
}

.Grid-Cols-1 {
  vertical-align: top;
  display: inline-block;
  width: var(--spacing-76);
  margin-left: var(--spacing-8);
}

.Grid-Cols-2 {
  vertical-align: top;
  display: inline-block;
  width: calc(var(--width-content) - var(--spacing-76) - var(--spacing-8));
}

@media (max-width: 1300px) {
  .Grid-Cols-2 {
    width: calc(100% - var(--spacing-76) - var(--spacing-8));
  }
}

@media (max-width: 799px) {
  .Grid-Fixed {
    position: relative;
  }

  .Grid-Cols-1 {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .Grid-Cols-2 {
    display: block;
    width: 100%;
  }
}

.Grid-Cols-3 {
  display: inline-block;
  width: 100%;
}
