/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.Link-Highlight {
  text-decoration: underline;
  font-weight: 700;
}
.Link.active {
  text-decoration: none;
  font-weight: 700;
}

.Link.button-primary {
  padding: 4px 8px;
  border: 2px solid var(--color-dark);
  border-radius: 2px;
  background: var(--color-dark);
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.Link.button-secondary {
  display: block;
  padding: 4px;
  border: 2px solid var(--color-dark);
  border-radius: 2px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  text-align: center;

  background: var(--color-grey-light);
  border: 2px solid var(--color-grey-light);
}
