/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Backstage-Left .Container {
  margin-bottom: var(--spacing-8);
}

.LoginForm {
  width: 100%;
  display: block;
  margin: auto;
}

.LoginForm .BackstageInput {
  margin-bottom: 4px;
}

.LoginForm input {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
}

.LoginForm button {
  width: 50%;
  display: block;
  margin: auto;
  height: 40px;
}

.PassRec {
  font-size: 14px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .InputSelect select {
    width: auto;
    min-width: 250px;
  }
}
