/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.RepeatingEventCreate-Buttons {
  margin-top: 12px;
}
.RepeatingEventCreate-Buttons .Link {
  margin-right: 12px;
  color: var(--color-light);
}
