/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.PasswordRecoveryForm .InputText {
  display: inline-block;
}

.PasswordRecoveryForm button {
  margin-left: 16px;
  display: inline-block;
}
