/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Theme-Page .Container-Content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.Theme-Page-Description {
  display: flex;
  flex-direction: column;
}
