/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.InviteList-InviteLink {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.InviteList-InviteLink:hover {
  position: absolute;
  z-index: 9999;
  display: block;
  width: max-content;
  margin-top: -16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  white-space: nowrap;
  background: white;
}
