{{ define "sitename" }}Custom Sitename{{ end }}
{{ define "logoAlt" }}Custom Logo Alt{{ end }}
{{ define "defaultMetaTitle" }}Custom Meta Title{{ end }}
{{ define "defaultMetaDescription" }}Custom Meta Description{{ end }}
