/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.header .left .search {
  display: none;
}

.container-content ul {
  list-style: inside;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .title {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.aboutpage a {
  color: var(--color-grey);
}

.aboutpage #nav a {
  color: var(--color-light);
}

.aboutpage .first-container .container-header {
  display: none;
}

.aboutpage .container-content h1 {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4em;
  line-height: 1.3em;
}

.aboutpage .container-content h2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.3m;
}

.aboutpage .container-content h3 {
  margin-bottom: 5px;
}

.aboutpage .container-content p {
  display: block;
  font-size: 0.9em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.4em;
  hyphens: auto;
}

.aboutpage .container-content p:not(:last-child) {
  margin-bottom: 10px;
}

.aboutpage .container-content pre {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  padding: var(--spacing-4);
  overflow-x: auto;
  background: var(--color-grey-light);
  margin-bottom: 10px;
}

.aboutpage .image-download li {
  list-style: disc;
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

.other-calendar .container-content {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
}

@media only screen and (min-width: 800px) {
  .aboutpage .first-container .container-header {
    display: block;
  }
}
