/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@media (max-width: 1000px) {
  .eventlistpage main .main {
    display: flex;
    flex-flow: column;
  }
  .eventlistpage main .main .right {
    order: 1;
  }
  .eventlistpage main .main .left {
    order: 2;
  }

  .tabs nav {
    display: flex;
    width: 100%;
  }
  .tabs nav a {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;

    text-align: center;
    background-color: var(--color-grey-light);
    text-transform: uppercase;
    font-weight: 700;
  }
  .tabs nav a.active {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
  .tabs > div {
    display: none;
    position: relative;
    top: -39px;
    margin-bottom: -39px;

    /* Adjust for sticky header height */
    padding-top: var(--height-header);
    margin-top: calc(-1 * var(--height-header));
  }
  .tabs #calendar:target {
    display: block;
  }
  .tabs #filter:target {
    display: block;
  }
  .tabs #feed:target {
    display: block;
  }
  .tabs .container-header {
    display: none;
  }
  .tabs #calendar .container-header,
  .tabs #calendar .calendar-action {
    display: block;
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}
.eventlist .event {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.eventlist .event:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.eventlist .event .event-time {
  width: 55px;
  color: var(--color-grey);
  font-size: 1.1rem;
  font-weight: 700;
}
.eventlist .event .event-time .event-time-multiday {
  font-size: 0.87rem;
  text-transform: uppercase;
}
.eventlist .event .event-time .event-time-multiday-seperator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.eventlist .event .event-content {
  width: calc(100% - 55px);
}
.eventlist .event h3.title {
  font-size: 1.1rem;
}
.eventlist .event i {
  display: block;
}
.eventlist .event .info {
  display: inline-block;
}
.eventlist .event .info a {
  text-decoration: underline;
}
.eventlist .event .info:after {
  content: " | ";
}
.eventlist .event .info:last-child:after {
  content: "";
}

.eventlist .event .canceled-info {
  text-transform: uppercase;
}
.eventlist .event .program {
  flex: 0 0 100%;
  width: 100%;
}
.eventlist .event .program .program-link {
  display: block;
  text-align: center;
}
.eventlist .event .program .program-link::before {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;

  content: url("/assets/images/icon_arrow_right.svg");
}
.eventlist .event .program.open .program-link::before {
  content: url("/assets/images/icon_arrow_down.svg");
}
.eventlist .event .program .program-content {
  display: none;
}

.eventlist .event .program.open .program-content {
  display: block;
}

.eventlistpage .pagination {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-4);
  margin-top: var(--spacing-2);
}

.eventlistpage .pagination a {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  padding: var(--spacing-2);
  background: var(--color-light);
  border: 1px solid var(--color-dark);
}

.eventlistpage .pagination img {
  display: block;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.eventlistpage .pagination a:hover {
  opacity: 0.7;
}

.eventlistpage .pagination .prev img {
  transform: rotate(180deg);
}

.pagination-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--spacing-2) 0;
}

.pagination-error {
  display: flex;
  align-self: flex-start;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  padding: var(--spacing-2);
  text-align: center;
}
#tags.container-subcontent {
  display: none;
  padding-bottom: 0;
}
.tags-list{
  padding-bottom: var(--spacing-2);
}

.right #filter .tags-link {
  display: block;
}
.right #filter .tags-link::before {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;

  content: url("/assets/images/icon_arrow_right.svg");
}

.right #filter .tags-list.open .tags-link::before {
  content: url("/assets/images/icon_arrow_down.svg");
}

.right #filter .tags-list.open #tags {
  display: block;
}

@media (min-width: 768px) {
  .eventlistpage .pagination {
    padding: 0;
  }

  .pagination-error {
    align-self: auto;
  }
}

.calendar-title {
  display: flex;
  justify-content: space-between;
}
.calendar-action {
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  background: none;
  color: var(--color-light);
  font-weight: 700;
}
.calendar {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  line-height: 14px;
  font-size: 14px;
}
.calendar > * {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 4px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.calendar .not-in-month {
  font-weight: normal;
}
.calendar .has-events {
  background: var(--color-grey-light);
}
.calendar .today {
  border: 2px solid var(--color-dark);
  box-sizing: border-box;
}
.calendar .current {
  background: var(--color-dark);
  border: 1px solid var(--color-dark);
  color: var(--color-light);
}

.filter > a {
  display: inline-block;
  margin-bottom: var(--spacing-1);
  margin-right: var(--spacing-2);
  margin-top: var(--spacing-1);
  padding-bottom: 5px;
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: 5px;

  background: var(--color-grey-light);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}
.filter .active {
  background: var(--color-dark);
  color: var(--color-light);
}

@media (min-width: 1000px) {
  .tabs nav {
    display: none;
  }
  .tabs > div {
    display: block;
  }
}

@media (max-width: 799px) {
  .eventlistpage main .main .right nav {
    position: sticky;
    top: 43px;
    z-index: 5;
  }
}
