/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.list .container {
  margin-bottom: 0 !important;
}
.list .container-content {
  height: var(--spacing-32);
  padding: 10px;
  display: flex;
  align-items: center;
}
.list .container-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

.alphabet {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  align-items: center;
  background: var(--color-dark);
  box-sizing: border-box;
  color: var(--color-light);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: var(--spacing-16);
  justify-content: space-between;
  padding: var(--spacing-2) var(--spacing-4);
  width: inherit;
}
.alphabet span,
.alphabet a {
  flex: 0 0 7.69231%;
  text-align: center;
}
.alphabet a {
  font-weight: 700;
}

@media (min-width: 800px) {
  .list {
    margin-bottom: var(--spacing-8);
    margin-left: var(--spacing-8);
    margin-right: var(--spacing-8);

    grid-gap: var(--spacing-8);
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .list {
    margin-bottom: var(--spacing-8);
    margin-left: 0;
    margin-right: 0;
  }

  .list > * {
    max-width: 380px;
    /* fix anchor offset */
    padding-top: calc(var(--height-header) + var(--spacing-8));
    margin-top: calc(-1 * (var(--height-header) + var(--spacing-8)));
  }
  .list .container h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
