/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

#map {
  height: calc(var(--spacing-76));
}

.placelistpage .list {
  margin-left: 0;
  margin-right: 0;
}

.tabs {
  display: none;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .placelistpage {
    margin-left: var(--spacing-8);
    width: auto;
  }
}

@media (max-width: 500px) {
  .placelistpage .tabs {
    display: none;
  }

  .main,
  .placelist {
    height: 100%;
  }
  .map {
    display: none;
    height: calc(
      100vh - var(--height-logo) - var(--height-header) - var(--spacing-8)
    );
  }
  .map .container-header {
    display: none;
  }
  .map #map {
    height: 100%;
  }
  .placelistpage .tabs {
    display: flex;
    background: var(--color-dark);
    bottom: 0;
    height: var(--spacing-8);
    position: fixed;
    width: 100%;
  }

  .placelistpage .tabs button {
    border: none;
    border-radius: none;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: var(--spacing-8);
    text-transform: uppercase;
    width: 100%;
  }

  .placelistpage .tabs button.active {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}
