/*
 * SPDX-FileCopyrightText: 2024 Klasse & Methode - IT Kollektiv Stuttgart <member@klasse-methode.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.App {
  --color-dark: black;
  --color-light: white;
  --color-red: #c91d1d;
  --color-yellow: #e8b130;
  --color-green: #34b234;
  --color-grey-light: #e1e1e1;
  --color-grey-normal: #b1b1b1;
  --color-grey-dark: #515151;
  --spacing: 5;
  --spacing-1: calc(var(--spacing) * 1px);
  --spacing-2: calc(var(--spacing) * 2px);
  --spacing-3: calc(var(--spacing) * 3px);
  --spacing-4: calc(var(--spacing) * 4px);
  --spacing-8: calc(var(--spacing) * 8px);
  --spacing-16: calc(var(--spacing) * 16px);
  --spacing-32: calc(var(--spacing) * 32px);
  --spacing-76: calc(var(--spacing) * 76px);
  --width-content: calc(var(--spacing-76) * 3 + var(--spacing-8) * 2);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
}

p a {
  text-decoration: underline;
}

p ol {
  padding-left: var(--spacing-4);
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  padding-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a:visited,
a:active,
a:link,
a:hover {
  color: inherit;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default !important;
}

.hidden {
  display: none;
}

@media (max-width: 799px) {
  .App .Grid {
    display: flex;
    flex-flow: column;
  }
  .App .Grid .Grid-Cols-1 {
    order: 1;
    position: inherit;
  }
  .App .Grid .Grid-Cols-2 {
    order: 2;
  }
}
